@inherits LayoutComponentBase
@layout SurveyApp.Server.Components.Layout.MainLayout

<div class="survey-editor-page">
    <div class="survey-page-header">
        <div>
            @* <h1 class="survey-page-title">Личный кабинет</h1> *@
            <p class="survey-page-subtitle">Настройки аккаунта и управление личными данными</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <ManageNavMenu />
        </div>
        <div class="col-lg-9">
            @Body
        </div>
    </div>
</div>